<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Legacy Library</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="">Dashboard</a>
          </li>
          <li><a href="">Catalog</a></li>
          <li><a href="">Admin Controls</a></li>
        </ul>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a>Welcome Rico</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>