<h3 style="padding-right: 20%;">My Profile</h3>
<hr/>
<div class="flex-container">
    <div class="col-md-5">
        <h5 style="text-align: center;">Account Information</h5>
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" class="container-fluid">
            <div class="col">
                <div class="row">
                    <div class="col-md-5 form-group" [ngClass]="{'error': !validateUserName()}">
                        <label for="username" class="form-label">Username</label>
                        <em *ngIf="!validateUserName()">Required</em>
                        <input formControlName="username" type="text" class="form-control" id="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group" [ngClass]="{'error': !validatePassword()}">
                        <label for="password" class="form-label">Password</label>
                        <em *ngIf="!validatePassword()">Required</em>
                        <input formControlName="password" type="text" class="form-control" id="password">
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-12">
                        <button [disabled]="profileForm.invalid" class="btn btn-primary" type="submit">Save</button>
                        <span>&nbsp;</span>
                        <button (click)="cancel()" class="btn btn-secondary" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="d-flex" style="height: 200px;">
        <div class="vr"></div>
    </div>

    <div class="col mybooks">
        <h5 style="text-align: center;">My Books</h5>
        <table class="table table-small table-light table-striped" style="border: solid; border-width: 1px;">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Author</td>
                <td>Title</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>